@using System.Globalization;

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Add a Personal Goal</h2>
                <br />
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (Model.Message != null)
                {
                    <div>
                        @Model.Message
                    </div>
                }
                <form class="form-horizontal form-label-left" method="post" action="#">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activity-type">
                            Activity Type<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="activity-type" name="activity-type" class="form-control col-md-7 col-xs-12" required="required">
                                <option value=""></option>
                                @foreach (var at in Model.ActivityTypes)
                                {
                                    <option value="@at.Id">@at.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="target">
                            Target
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="target" name="target" class="form-control col-md-7 col-xs-12" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Goal Metric</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="" class="btn-group" data-toggle="buttons">
                                <label id="time-seconds" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Seconds"> Time (Seconds)
                                </label>
                                <label id="time-minutes" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Minutes"> Time (Minutes)
                                </label>
                                <label id="calories-burnt" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Calories"> Calories Burnt
                                </label>
                                <label id="steps" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Steps"> Steps
                                </label>
                                <label id="metres-travelled" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Metres"> Metres Travelled
                                </label>
                                <label id="metres-elevation" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="goal-metric" value="Metres Elevation"> Metres Elevation
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start-time">
                            Start Time
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="datetime-local" id="start-time" name="start-time" class="form-control col-md-7 col-xs-12" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end-time">
                            End Time
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="datetime-local" id="end-time" name="end-time" class="form-control col-md-7 col-xs-12" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-ddTHH:mm:ss")" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Your Goals</h2>
                <br />
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Activity Type</th>
                            <th>Amount Completed</th>
                            <th>Required</th>
                            <th>Time Period</th>
                            <th>Delete Goal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ch in Model.Challenges)
                        {
                            <tr>
                                <th>@ch.activity.activityName</th>
                                <th>@(Math.Floor((double)((int)ch.goal * (int)ch.percentComplete / 100))) @ch.activity.goalMetric</th>
                                <th>@ch.goal @ch.activity.goalMetric</th>
                                <th>@(DateTime.Parse((string)ch.startDateTime, CultureInfo.InvariantCulture).ToString()) - @(DateTime.Parse((string)ch.endDateTime, CultureInfo.InvariantCulture).ToString())</th>
                                <td><div class="goal-delete-message" data-id="@ch.challengeId"></div><a href="#" class="goal-delete-ajax" data-id="@ch.challengeId">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $(document).ready(function () {
            $('.goal-delete-ajax').click(function (event) {
                if (window.confirm("Are you sure you wish to delete that goal?")) {
                    event.preventDefault();
                    var link = $(this);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GoalDeleteAjax", "Dashboard")' + '/' + link.data("id"),
                        success: function (data, textStatus, jqXHR) {
                            $('.goal-delete-message[data-id=' + link.data("id") + ']').html("<p>Goal deleted successfully.</p>");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('.goal-delete-message[data-id=' + link.data("id") + ']').html("<p>Deletion failed</p>");
                            console.log('.goal-delete-message[data-id=' + link.data("id") + ']')
                            setTimeout(function () {
                                $('.goal-delete-message[data-id=' + link.data("id") + ']').html("");
                            }, 3000);
                        }
                    });
                }
            });
        });
    };
</script>
