<!-- top tiles -->
<div class="row tile_count">
    @foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities)
    {
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-map-pin"></i> Steps - @day.Key</span>
        <div class="count"> 
            @{
                var stepCount = 0;
                foreach (HealthActivity ha in day.Value)
                {
                    stepCount += ha.StepsTaken;
                }
                @Html.Raw(stepCount);
            }
        </div>
        <span class="count_bottom"><i class="green">XX% above average</i></span>
    </div>
    }
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Your Steps <small>By Day </small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="chart-container">
                    <canvas id="stepsChart"></canvas>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div class="row align-content-center">

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Record Steps</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="activity-form-message"></div>
                @foreach (var at in Model.ActivityTypes)
                {
                    if (at.Name == "Steps")
                    {
                <form class="ajax-form-activity form-horizontal form-label-left" method="post" action="#">
                    <label class="col-md-12 col-sm-12 col-xs-12" for="quantity">Date</label>
                    <div class="field">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="date" id="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <input type="hidden" name="start-time" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <input type="hidden" name="end-time" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <input type="hidden" name="activity-type" value="@at.Id">
                    <div class="field">
                        <label class="col-md-12 col-sm-12 col-xs-12" for="quantity">Number of Steps</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="number" id="steps-taken" name="steps-taken" min="0" step="1" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-9">
                            <button class="btn btn-success" type="submit">Send</button>
                        </div>
                    </div>
                </form>
                        break; // out of foreach
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Your Group Challenges</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var ch in Model.Challenges)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@ch.Goal @ch.Activity.GoalMetric of @ch.Activity.ActivityName</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@ch.PercentComplete" aria-valuemin="0" aria-valuemax="100" style="width: @ch.PercentComplete%;">
                                    <span class="sr-only">@ch.PercentComplete% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>@ch.PercentComplete</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Your Personal Goals</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var ch in Model.Challenges)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@ch.Goal @ch.Activity.GoalMetric  @ch.Activity.ActivityName</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>90%</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-9">
                    <a href="@Url.Action("Goals", "Dashboard")" class="btn btn-success">New Goal</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $(document).ready(function () {
            (function () {
                var ctx = $("#stepsChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            @foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities)
                            {
                                var outString = string.Concat('"', day.Key, "\",");
                                @Html.Raw(outString);
                            }
                        ],
                        datasets: [{
                            label: '# of Steps',
                            data: [
                                @{
                                    foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities)
                                    {
                                        var stepCount = 0;
                                        foreach (HealthActivity ha in day.Value)
                                        {
                                            stepCount += ha.StepsTaken;
                                        }
                                        var outString = string.Concat(stepCount, ',');
                                        @Html.Raw(outString);
                                    }
                                }
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            })();

            $('form.ajax-form-activity').submit(function (event) {
                event.preventDefault();

                var form = $('form.ajax-form-activity')
                var datetime = form.find('#date').val() + "T21:00:00";
                form.find('[name=start-time]').val(datetime); 
                form.find('[name=end-time]').val(datetime); 

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InputAjax", "Dashboard")',
                    data: form.serialize(),
                    success: function (data, textStatus, jqXHR) {
                        $('.activity-form-message').html("<p>Ajax Success</p>");
                        setTimeout(function () {
                            $('.activity-form-message').html("");
                        }, 3000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('.activity-form-message').html("<p>Ajax Failure</p>");
                        setTimeout(function () {
                            $('.activity-form-message').html("");
                        }, 3000);
                    }
                });
            });
        });
    };
</script>
