<!-- top tiles -->
<div class="row tile_count">
    @foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities["Steps"])
    {
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-map-pin"></i> Steps - @day.Key</span>
        <div class="count"> 
            @{
                var stepCount = 0;
                foreach (HealthActivity ha in day.Value)
                {
                    stepCount += ha.quantity.value;
                }
                @Html.Raw(stepCount);
            }
        </div>
        <span class="count_bottom"><i class="green">XX% above average</i></span>
    </div>
    }
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Your Steps <small>By Day </small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="chart-container">
                    <canvas id="stepsChart"></canvas>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div class="row align-content-center">

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Register Activity</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="activity-form-message"></div>
                <form class="ajax-form-activity form-horizontal form-label-left" method="post" action="#">
                    <div class="field">
                        <input type="hidden" id="start-time" name="start-time" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")">
                    </div>
                    <div class="field">
                        <label class="col-md-12 col-sm-12 col-xs-12" for="activity_type">Activity Type:</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select id="activity-type" name ="activity-type" class="form-control col-md-7 col-xs-12" required="required">
                                <option value=""></option>
                                @foreach (var at in Model.ActivityTypes)
                                {
                                    <option value="@at.name">@at.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="col-md-12 col-sm-12 col-xs-12" for="distance">Distance (m):</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="number" id="distance" name="distance" min="0" step="10" disabled="disabled">
                        </div>
                    </div>

                    <div class="field">
                        <label class="col-md-12 col-sm-12 col-xs-12" for="duration">Duration:</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="time" id="duration" name="duration" disabled="disabled">
                        </div>
                    </div>

                    <div class="field">
                        <label class="col-md-12 col-sm-12 col-xs-12" for="quantity">Quantity:</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="number" id="quantity" name="quantity" min="0" step="1" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-9">
                            <button class="btn btn-success" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Your Group Challenges</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var ch in Model.Challenges)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@ch.goal @ch.activity.goalMetric of @ch.activity.activityName</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@ch.percentComplete" aria-valuemin="0" aria-valuemax="100" style="width: @ch.percentComplete%;">
                                    <span class="sr-only">@ch.percentComplete% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>@ch.percentComplete</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Your Personal Goals</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var ch in Model.Challenges)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@ch.goal @ch.activity.goalMetric  @ch.activity.activityName</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>90%</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-9">
                    <a href="@Url.Action("Goals", "Dashboard")" class="btn btn-success">New Goal</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $(document).ready(function () {
            (function () {
                var ctx = $("#stepsChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            @foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities["Steps"])
                            {
                                var outString = string.Concat('"', day.Key, "\",");
                                @Html.Raw(outString);
                            }
                        ],
                        datasets: [{
                            label: '# of Steps',
                            data: [
                                @{
                                    foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities["Steps"])
                                    {
                                        var stepCount = 0;
                                        foreach (HealthActivity ha in day.Value)
                                        {
                                            stepCount += ha.quantity.value;
                                        }
                                        var outString = string.Concat(stepCount, ',');
                                        @Html.Raw(outString);
                                    }
                                }
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            })();

            $('form.ajax-form-activity').submit(function (event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InputAjax", "Dashboard")',
                    data: $('form.ajax-form-activity').first().serialize(),
                    success: function (data, textStatus, jqXHR) {
                        $('.activity-form-message').html("<p>Ajax Success</p>");
                        setTimeout(function () {
                            $('.activity-form-message').html("");
                        }, 3000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('.activity-form-message').html("<p>Ajax Failure</p>");
                        setTimeout(function () {
                            $('.activity-form-message').html("");
                        }, 3000);
                    }
                });
            });

            $('#activity-type').change(function () {
                var relevant_fields = {
                    @foreach(var at in Model.ActivityTypes)
                    {
                         @Html.Raw("'" + at.name + "': {" +
                             "'distance': " + (at.uses_distance == "True" ? "true" : "false") + "," +
                             "'duration': " + (at.uses_duration == "True" ? "true" : "false") + "," +
                             "'quantity': " + (at.quantity_unit != "" ? "true" : "false") +
                         "},");
                    }
                };

                var selected_type = this.value;

                if (relevant_fields[selected_type] != null && relevant_fields[selected_type]['distance'] ) {
                    $('#distance').removeAttr("disabled");
                    $('#distance').attr("required", "required");
                } else {
                    $('#distance').attr("disabled", "disabled");
                    $('#distance').removeAttr("required");
                }

                if (relevant_fields[selected_type] != null && relevant_fields[selected_type]['duration'] ) {
                    $('#duration').removeAttr("disabled");
                    $('#duration').attr("required", "required");
                } else {
                    $('#duration').attr("disabled", "disabled");
                    $('#duration').removeAttr("required");
                }

                if (relevant_fields[selected_type] != null && relevant_fields[selected_type]['quantity'] ) {
                    $('#quantity').removeAttr("disabled");
                    $('#quantity').attr("required", "required");
                } else {
                    $('#quantity').attr("disabled", "disabled");
                    $('#quantity').removeAttr("required");
                }
            });
        });
    };
</script>
