<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="box-title">Your Steps <small>By Day </small></h1>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="stepsChart"></canvas>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h1 class="box-title">Record Steps</h1>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <div class="activity-form-message"></div>
                @foreach (var at in Model.ActivityTypes)
                {
                    if (at.Name == "Steps")
                    {
                <form class="ajax-form-activity" method="post" action="#">
                    <input type="hidden" name="start-time" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <input type="hidden" name="end-time" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <input type="hidden" name="activity-type" value="@at.Id">
                    <div class="form-group">
                        <label class="form-control-label" for="date">Date</label>
                        <input class="form-control" type="date" id="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="steps-taken">Number of Steps</label>
                        <input class="form-control" type="number" id="steps-taken" name="steps-taken" min="0" step="1" required="required">
                    </div>
                    <div class="form-actions form-group">
                        <button type="submit" class="btn btn-success btn-sm">Submit</button>
                    </div>
                </form>
                        break; // out of foreach
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h1 class="box-title">Your Group Challenges</h1>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                @foreach (var ch in Model.Challenges)
                {
                    <div class="">
                        <span>@ch.challenge.goal @ch.challenge.GoalMetric.GoalMetricDisplay while @ch.challenge.activity.activityName</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@ch.percentageComplete" aria-valuemin="0" aria-valuemax="100" style="width: @ch.percentageComplete%;">
                            <span class="sr-only">@ch.percentageComplete% Complete</span>
                        </div>
                    </div>
                    <div>
                        <span>@ch.percentageComplete% Complete </span>
                    </div>
                    <div>
                        <span>until @ch.challenge.endDateTime.ToString("dd/MM/yyyy hh:mm:ss")</span>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                }
                <div class="form-actions form-group">
                    <a href="@Model.ChallengeJoinUrl" class="btn btn-success">Join a Challenge</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h1 class="box-title">Your Personal Goals</h1>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                @foreach (var g in Model.Goals)
                {
                    <div class="">
                        <span>@g.challenge.goal @g.challenge.GoalMetric.GoalMetricDisplay of @g.challenge.activity.activityName</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@g.percentageComplete" aria-valuemin="0" aria-valuemax="100" style="width: @g.percentageComplete%;">
                            <span class="sr-only">@g.percentageComplete% Complete</span>
                        </div>
                    </div>
                    <div>
                        <span>@g.percentageComplete% Complete</span>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                }
                <div class="form-actions form-group">
                    <a href="@Url.Action("Goals", "Home")" class="btn btn-success">New Goal</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script> 
<script>
    window.onload = function () {
        jQuery(document).ready(function () {
            (function () {
                var ctx = jQuery("#stepsChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            @foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities)
                            {
                                var outString = string.Concat('"', day.Key, "\",");
                                @Html.Raw(outString);
                            }
                        ],
                        datasets: [{
                            label: '# of Steps',
                            data: [
                                @{
                                    foreach (KeyValuePair<string, List<HealthActivity>> day in Model.Activities)
                                    {
                                        var stepCount = 0;
                                        foreach (HealthActivity ha in day.Value)
                                        {
                                            stepCount += ha.stepsTaken;
                                        }
                                        var outString = string.Concat(stepCount, ',');
                                        @Html.Raw(outString);
                                    }
                                }
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            })();

            jQuery('form.ajax-form-activity').submit(function (event) {
                event.preventDefault();

                var form = jQuery('form.ajax-form-activity')
                var datetime = form.find('#date').val() + "T00:00:00";
                form.find('[name=start-time]').val(datetime); 
                form.find('[name=end-time]').val(datetime); 

                jQuery.ajax({
                    type: 'POST',
                    url: '@Url.Action("InputAjax", "Home")',
                    data: form.serialize(),
                    success: function (data, textStatus, jqXHR) {
                        jQuery('.activity-form-message').html("<p>Ajax Success</p>");
                        setTimeout(function () {
                            jQuery('.activity-form-message').html("");
                        }, 3000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        jQuery('.activity-form-message').html("<p>Ajax Failure</p>");
                        setTimeout(function () {
                            jQuery('.activity-form-message').html("");
                        }, 3000);
                    }
                });
            });
        });
    };
</script>
